{%extends 'base.html'%}

{%block title%}
Все статьи на сайте
{%endblock%}

{%block body%}
<div class="container">
    <h1>Все статьи</h1>
    {%for el in articles%}
    <div class="alert alert-info">
        <p><b>Дата создания статьи: {{el.date.date()}}</b></p>
        <p><b>Время: {{el.updated.time().replace(microsecond=0)}}</b></p>
        <h2>{{el.title}}</h2>
        <h5>{{el.intro}}</h5>
        <p>{{el.text}}</p>
        <a href="/posts/{{el.id}}" class="btn btn.warning" style=" border: 1px solid MidnightBlue " >Читать всё...</a>
    </div>

    {%endfor%}
</div>

{%endblock%}