{%extends 'base.html'%}

{%block title%}
{{article.title}}
{%endblock%}

{%block body%}
<div class="container">
    <h1>{{article.title}}</h1>
    <div>
        <h5>{{article.intro}}</h5>
        <p>{{article.text}}</p>
        <p><b>Дата:{{article.date.date()}}</b></p>
        <a href="/posts/{{article.id}}/delete" class="btn btn.warning" style=" border: 1px solid MidnightBlue" >Удалить</a>
        <a href="/posts/{{article.id}}/update" class="btn btn.warning" style=" border: 1px solid MidnightBlue">Изменить</a>
    </div>
</div>

{%endblock%}